* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 1366px;
  height: 435px;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
}
.rectangel {
  position: absolute;
  width: 1366px;
  height: 400px;
  border: 1.5px solid #ffffff;
  top: 35px;
  background: #135e90;
}

.footer-contactus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1087px;
  height: 70px;
  border-radius: 35px;
  background: #d6f2f5;
  margin: -40px 0 0 139px;
}
i {
  width: 36px;
  height: 36px;
  background: #135e90;
  border-radius: 20px;
  padding: 8px;
  color: white;
  font-size: 20px;
  align-items: center;
}

.contact-button {
  border-radius: 80px;
  width: 237px;
  height: 40px;
  color: white;
  background: #135e90;
}
.ft-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 137px;
  color: #ffffff;
}
.flx1 {
  flex: 2;
  align-items: center;
  width: 397px;
  height: 120px;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -72px;
}
.flx2 {
  flex: 1;
  align-items: center;
  text-transform: capitalize;
  width: 220px;
  height: 223px;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
}
.flx3 {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  width: 220px;
  height: 256px;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
}
.flx4 {
  align-items: center;
  margin: -50px 0 0 137px;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 600;
}
input {
  border-radius: 20px;
  height: 35px;
  width: 422px;
  border: #ffffff;
}
.btn {
  border-radius: 16.5px;
  background: #135e90;
  width: 87px;
  height: 33px;
  border: #135e90;
  color: #ffffff;
  text-transform: uppercase;
}
.bkb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  background: #ffffff;
  height: 35px;
  width: 422px;
  margin-left: 137px;
  border-radius: 35px;
}
.news {
  margin-top: 33px;
}

header {
  /* display: flex; */
  height: 60px;
  background-color: #d6f2f5;
  padding: 10px 5%;
  font-family: "Mulish", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
nav a {
  color: rgb(36, 37, 53);
  text-decoration: none;
  padding: 10px;
}
button {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: rgb(4, 71, 80);
  color: white;
  border: none;
}

.flexcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex1 {
  display: flex;
  align-items: center;
  height: 100%;
}
.flex2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.active {
  color: #f8007a;
}
.homebanner {
  height: 500px;
  width: 100%;
  background-color: #f3feff;
  align-items: center;
  padding-left: 10% 5%;
}

.item {
  position: relative;
}

/* mos */

.hiw-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
      104.76deg,
      rgba(255, 255, 255, 0) 43.8%,
      rgba(179, 225, 249, 0.53) 72.41%,
      #8cc6df 107.45%
    ),
    url(images/heartpic.jpg);

  width: 1366px;
  height: 708px;
  border-radius: 0 0 0 354px;
  background-position: top left ;
  background-repeat: no-repeat;
  background-size: cover;
}

.hwflx1 {
  flex: 1;
  width: 538px;
}
.hwflx2 {
  flex: 1;  
  justify-content: space-between;
  align-self: center;
  font-family: "Mulish" sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #135e90;
  height:500px ;
  width:538px ;
}
.p1 {
  width: 488px;
  height: 60px;
  font-family: "Mulish" sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
}
.sh1 {
  width: 538px;
  height: 210px;
  font-family: "Mulish" sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0.05em;
  text-align: left;
}

.bttn {
  
  justify-content: space-evenly;
  align-self: center;
  width: 237px;
  height: 40px;
  border-radius: 20px;
  background: #135e90;
}
.sore{
  display: flex;
  justify-content: space-around;
  align-items: center;
}